html {
	font-family: Verdana;
	background-color: #eeeeee;
	font-size: 16px;
}

#nav-topo {
	position: fixed;
	width: 100%;
}

#texto-topo {
	font-family: Courier New;
	font-size: 30px;
	margin-left: 15px;
}

#form-input-valores {
	padding-top: 30px;
}

.equivalencia {
	padding-top: 10px !important;
}

.input-field label, .input-field input, .input-field input[type=number]:focus + label {
	color: #4caf50;
}

.input-field input[type=number]:focus {
	border-bottom: 1px solid #4caf50;
	box-shadow: 0 1px 0 0 #4caf50;
}

#resultado-div {
	margin: 0 10px 30px 10px;
}

#resultado {
	background-color: #e8f5e9;
}

#refazer {
	bottom: 15px;
	right: 15px;
}